streamlit==1.45.0
opencv-python-headless==4.10.0.84
mediapipe==0.10.14
tensorflow-cpu==2.19.1
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
streamlit-webrtc==0.47.9
PyYAML==6.0.2
gTTS==2.5.3
